# .gitignore

# Python cache
__pycache__/
*.pyc

# environment files
.env
.gradios/

# datasets
dataset/*
!demo.mp4

# temp files
temp_clips/

# MacOS system files
.DS_Store

# API Usage
api_usage.json

# Model results
model_results/